<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${action} + ' category'">Add new category</title>
</head>
<body>
  <h2 th:text="${action} + ' category'">Add new category</h2>
  <form action="#" th:action="@{/web/save-category}" method="post" th:object="${category}">
    <input type="hidden" name="id" th:value="*{id()}">
    <label for="categoryName">Category name:</label><br>
    <input type="text" id="categoryName" name="name" value="" th:value="*{name()}"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>